{% extends 'base.html' %} 

{% block content %} 
<div class="alert alert-primary">
    All posts
</div>
{% for post in data.results %} 
    <div style="margin-bottom: 20px; width: 100%; text-align: center;">
        </h4>
        <!-- <a><img style="width: 300px;" src="{{post.img}}"></a> -->
        <a href="{% url 'detail' post.id %}" style="margin-bottom: 5px;"><h5>{{post.title}} </h5></a>
    </div>
    <hr>
{% endfor %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
      
      
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if data.previous %}
          <li class="page-item"><a class="page-link" href="?page={{data.previous}}">Previous Page</a></li>
          {% endif %}

          {% if data.next %}
          <li class="page-item"><a class="page-link" href="?page={{data.next}}">Next Page</a></li>
          {% endif %}
          
          
        </ul>
      </nav>
      
    </ul>
  </nav>
{% endblock content %}